source/resources/ignore_version.txt
source/resources/no_auto_ver_check.txt
source/resources/custom_bones
source/resources/cache
source/resources/libraries

# custom make environment
env.mk
env.bat

# build files
__pycache__
*.pyc
out/

# intermediate files
*.blend1
*.Blend1
